---
import Blog from '../../layouts/BlogLayout.astro';
---

<Blog>
  <h1>Hello, Astro!</h1>
  <p>This is a text with <a href="">some links as well</a> that I added to test out the <a href="">style</a>. You could write a lot more about it, and indeed I will, because it's so interesting. Except the fact that the previous sentence was a lie, I'm just rambling to fill <a href="">space</a>.</p>
</Blog>
