* {
  @include box-sizing;
  line-height: 1.5;
}

html,
body {
  color: $default-color;
  margin: 0;
  padding: 0;
}

html {
  font-family: $roboto;
  font-size: 17px;

  @media (min-width: 600px) {
    font-size: 17px;
  }
}

body {
  -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $default-shade;
  font-family: $sans-font;
  line-height: normal;
}

a {
  color: $blue;
  text-decoration: none;
}

.fake-link {
  color: $blue;
  display: inline;
}

.fake-link:hover {
  text-decoration: underline;
}

blockquote {
  border-left: .25rem solid $grey-2;
  color: $grey-1;
  margin: .8rem 0;
  padding: .5rem 1rem;

  p:last-child {
    margin-bottom: 0;
  }

  @media (min-width: 600px) {
    padding: 0 5rem 0 1.25rem;
  }
}

img {
  display: block;
  margin: 20px auto 40px auto;
  max-width: 100%;
  max-height: 800px;
}

.post > table {
  border-collapse: collapse;
  margin: 0 0 1rem;
}


.post > table td {
  padding: 3px 5px;
  min-width: 30px;
}

.post > table, .post > table th, .post > table td {
  border: 1px solid black;
}
