---
import type { MarkdownInstance } from "astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { formatDate } from "../scripts/date";

type Frontmatter = {
  title: string;
	pubDate: Date;
};

const posts = Object.values(
  import.meta.glob<MarkdownInstance<Frontmatter>>(
    './blog/*/*.{md,mdx}',
    { eager: true }
  )
);

const byPubDate = (
	a: MarkdownInstance<Frontmatter>,
	b: MarkdownInstance<Frontmatter>
) => (
	a.frontmatter.pubDate > b.frontmatter.pubDate ? -1 : 1
);
---

<BaseLayout>
  <h1>Tobias Løfgren</h1>

	<p>Post Archive:</p>
	<ul>
    {
			posts
			.toSorted(byPubDate)
			.map((post) => (
				<li>
					<a href={post.url}>{post.frontmatter.title}</a>
					({formatDate({ date: post.frontmatter.pubDate })})
				</li>
    	))
		}
	</ul>
</BaseLayout>