---
import type { MarkdownInstance } from "astro";
import BaseLayout from "../components/BaseLayout.astro";
import { formatDate } from "../scripts/date";
import ThemeSwitcher from "../components/ThemeSwitcher.astro";

type Frontmatter = {
  title: string;
	subtitle?: string;
	pubDate: Date;
};

const posts = Object.values(
  import.meta.glob<MarkdownInstance<Frontmatter>>(
    './blog/*/*.{md,mdx}',
    { eager: true }
  )
);

const byPubDate = (
	a: MarkdownInstance<Frontmatter>,
	b: MarkdownInstance<Frontmatter>
) => (
	a.frontmatter.pubDate > b.frontmatter.pubDate ? -1 : 1
);
---

<BaseLayout>
  <div class="header-container">
		<h1>Tobias Løfgren</h1>
		<ThemeSwitcher />
	</div>

	<p>
		Hi there, thanks for stopping by! By day I work as a Software Engineer for <a href="https://www.lego.com/">The LEGO Group</a> in Denmark and by night I work on a million side projects, a few of which I write about here.
	</p>
	<p>
		Feel free to check out my stuff on <a href="https://github.com/tobloef">GitHub</a> or <a href="https://bsky.app/profile/tobloef.com">Bluesky<a/>, or reach out directly to <a href="mailto:tobloef@gmail.com">tobloef@gmail.com</a>.
	</p>
	<p>
		You can also check out my <a href="/portfolio">portfolio</a>, where I collect all my projects.
	</p>

	<h2>Blog Posts</h2>
	<ul>
    {
			posts
			.toSorted(byPubDate)
			.map((post) => (
				<li>
					<a href={post.url}>{post.frontmatter.title}</a>
					<span class="de-emphasize">
						({formatDate({
							date: post.frontmatter.pubDate
						})})
					</span>
				</li>
    	))
		}
	</ul>
</BaseLayout>

<style>
	.header-container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
</style>
