---
import BaseLayout from './BaseLayout.astro';
import BackHome from "../components/BackHome.astro";
import { formatDate } from "../scripts/date";
import ThemeSwitcher from "../components/ThemeSwitcher.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout>
	<Fragment slot="head">
		<title>{frontmatter.title} // Tobias Løfgren</title>
		{frontmatter.subTitle && <meta name="description" content={frontmatter.subTitle}>}
	</Fragment>
	<nav>
		<BackHome />
		<ThemeSwitcher />
	</nav>
	<h1>{frontmatter.title}</h1>
	<p class="sub-title de-emphasize">{frontmatter.subTitle}</p>
	<slot />
	<p class="publication-date de-emphasize">
		Published on: {formatDate({
		date: frontmatter.pubDate,
		includeDay: true
	})}
	</p>
</BaseLayout>

<style>
	nav {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		margin-top: 2em;
	}

	h1 {
		margin-bottom: 0;
		margin-top: 1em;
	}

	.sub-title {
		margin-top: 0;
		margin-bottom: 1em;
	}

	.publication-date {
		margin-top: 2em;
		margin-bottom: 2em;
	}
</style>