---
import BaseLayout from './BaseLayout.astro';
---

<BaseLayout>
  <main>
	  <slot />
	</main>
</BaseLayout>

<style>
  main {
    max-width: 80ch;
    margin: 0 auto;
    padding: 2em;
  }
</style>