---
import BaseLayout from './BaseLayout.astro';
import BackHome from "../components/BackHome.astro";
---

<BaseLayout>
	<nav>
		<BackHome />
	</nav>
	<slot />
</BaseLayout>

<style>
	nav {
		margin-top: 2em;
	}
</style>