---
import {
	getCollection,
	render,
} from "astro:content";
import BaseLayout from "../../components/BaseLayout.astro";
import Navigation from "../../components/Navigation.astro";
import { getItemWithImages } from "../../scripts/getItemWithImages.js";
import { formatDate } from "../../scripts/date.js";

export async function getStaticPaths() {
	const portfolioItems = await getCollection("portfolio");

	return await Promise.all(portfolioItems.map(async (item) => {
		const itemWithImage = await getItemWithImages(item);
		return {
			params: { id: itemWithImage.id },
			props: { item: itemWithImage },
		};
	}));
}

const { item } = Astro.props;
const { Content } = await render(item);
---

<BaseLayout styleOverrides={ { maxWidth: "100ch" } }>
	<Fragment slot="head">
		<title>Portfolio // Tobias Løfgren</title>
		<meta name="robots" content="noindex"/>
	</Fragment>
	<Navigation
		backUrl="/portfolio"
		backTitle="Back to portfolio"
	/>
	<div class="container">
		<img
			src={ item.data.cover }
			alt={ item.data.title }
			class={ item.data.coverIsSmall ? "cover small" : "cover" }
			style={ `view-transition-name: ${ item.id }-cover-image;` }
		/>
		<div class="text">
			<h1 class="title">
				{ item.data.title }
			</h1>
			<p class="byline">
				<span class="date de-emphasize">{ formatDate(item.data.date) }</span>
				{ item.data.links && (
					<span class="links">
						{ item.data.links.map(((link) => (
							<a href={ link.url } target="_blank">{ link.label }</a>
						))) }
					</span>
				) }
			</p>
			<Content/>
		</div>
	</div>
</BaseLayout>

<style>
  @view-transition {
    navigation: auto;
  }

  .container {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cover {
    margin: 0 0 1em 0;
    max-height: 20em;
    border-radius: 5px;
    box-shadow: 0 0 10px var(--shadow);
  }

  .cover.small {
    max-height: 15em;
  }

  .byline {
    margin-top: 0;
  }

	.links {
		margin-left: 0.5em;
	}

	.links :not(:last-child) {
		margin-right: 1em;
	}

  .text {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  h1 {
    margin: 0;
  }

  .subtitle {
    margin-top: 0;
    opacity: 0.7;
    font-style: italic;
  }
</style>
